/**************************************
Common style for all screen resolutions
***************************************/

body {
	font-family: 'Open Sans', sans-serif;
	color: #2d3c49;
	box-sizing: border-box;
}

img {
	object-fit: cover;
}

/*
 * Header
 */
.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.header__logo {
	width: auto;
	order: 1;
}

.header__title {
	order: 2;
	text-transform: uppercase;
	text-align: right;
}

/*
 * Divider
 */
 .divider {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 3px;
	background-color: #7d97ad;
}

/*
 * Featured projects section
 */
.project__heading {
	color: #7d97ad;
}

.project__container {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	background-size: cover;
}

.project__tile {
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}

.project__tiletitle {
	text-transform: uppercase;
	font-size: 25px;
}

.project__arealink {
	display: inline-block;
	width: 100%;
	height: 80%;
}

.project__tileimage {
	height: 100%;
	width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

/**************************************
Style rules just for desktop
***************************************/
@media screen and (min-width: 801px) {
	body {
		/* top | right | bottom | left */
		padding: 1em 5% 1em 15%;
	}

	/*
	 * Header
	 */
	.header {
		height: 100px;
	}

	.header__logo {
		height: 90%;
	}

	.header__name {
		font-size: 50px;
	}

	.header__work {
		font-size: 20px;
	}

	/*
	 * "Landscape" image on front screen
	 */
	.landscape {
		height: 250px;
		width: 100%;
		margin-top: 10px;
	}

	/*
	 * Heading above project tiles
	 */
	.project__heading {
		margin-left: 10px;
	}

	/*
	 * Featured projects section
	 */
	.project__tile {
		width: 32%;
		max-height: 350px;
	}

	.project__imagelink {
		height: 250px;
		width: auto;
	}
}

/**************************************
Style rules for tablets and mobile
***************************************/
@media screen and (max-width: 800px) {
	/*
	 * Header
	 */

	.header__logo {
		height: 100%;
	}

	/*
	 * "Landscape" image on front screen
	 */
	.landscape {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	/*
	 * Heading above project tiles
	 */
	.project__heading {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/*
	 * Featured projects section
	 */
	.project__tile {
		background-color: #ffe1fe;
		height: auto;
	}
}

/**************************************
Style rules just for tablets
***************************************/
@media screen and (min-width: 601px) and (max-width: 800px) {
	/*
	 * Header
	 */
	.header {
		height: 75px;
	}

	.header__name {
		font-size: 38px;
	}

	.header__work {
		font-size: 20px;
	}

	/*
	 * Featured projects section
	 */
	.project__tile {
		width: 48%;
		max-height: 350px;
	}

	.project__arealink {
		max-height: 350px;
	}
}

/**************************************
Style rules just for mobile
***************************************/
@media screen and (max-width: 600px) {
	/*
	 * Header
	 */
	.header {
		height: 50px;
	}

	.header__name {
		font-size: 25px;
	}

	.header__work {
		font-size: 14px;
	}

	/*
	 * Featured projects section
	 */

	.project__tile {
		width: 100%;
		max-height: 450px;
	}

	.project__arealink {
		max-height: 300px;
	}
}

