body {
	/* top | right | bottom | left */
	padding: 1em 5% 1em 15%;
}

/*
 * Header
 */
.header {
	height: 100px;
}

.header__logo {
	height: 90%;
}

.header__name {
	font-size: 50px;
}

.header__work {
	font-size: 20px;
}

/*
 * "Landscape" image on front screen
 */
.landscape {
	height: 250px;
	width: 100%;
	margin-top: 10px;
}

/*
 * Heading above project tiles
 */
.project__heading {
	color: #7D97AD;
	margin-left: 10px;
}

/*
 * Featured projects section
 */
.project__tile {
	width: 32%;
	max-height: 250px;
}

.project__imagelink {
	height: 250px;
	width: auto;
}

.img-responsive {
	max-height: 250px;
}