/*
 * Header
 */
.header {
	height: 50px;
}

.header__logo {
	height: 95%;
}

.header__name {
	font-size: 25px;
}

.header__work {
	font-size: 14px;
}

/*
 * "Landscape" image on front screen
 */
.landscape {
	width: 100%;
	height: auto;
	margin-top: 5px;
}

.img-responsive {
	object-fit: contain;
	max-height: 300px;
}

/*
 * Heading above project tiles
 */
.project__heading {
	color: #7D97AD;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
 * Featured projects section
 */

.project__tile {
	width: 100%;
	height: 30%;
	color: #2D3C49;
	background-color: #ffe1fe;
}

.project__imagelink {
	height: 300px;
	width: auto;
}

a {
	max-height: 300px;
}