/*
 * Header
 */
.header {
	height: 50px;
}

.header__logo {
	height: 95%;
}

.header__name {
	font-size: 25px;
}

.header__work {
	font-size: 14px;
}

/*
 * "Landscape" image on front screen
 */
.landscape {
	width: 100%;
	height: auto;
	margin-top: 5px;
}

/*
 * Heading above project tiles
 */
.project__heading {
	color: #7D97AD;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
 * Featured projects section
 */
.project_container {
 	height: 30%;
}

.project__tile {
	width: 100%;
	color: #2D3C49;
	background-color: #ffe1fe;
}

.project__imagelink {
	height: 300px;
	width: auto;
}