/*
 * Header
 */
.header {
	height: 75px;
}

.header__logo {
	height: 100%;
}

.header__name {
	font-size: 38px;
}

.header__work {
	font-size: 20px;
}

/*
 * "Landscape" image on front screen
 */
.landscape {
	width: 100%;
	height: auto;
	margin-top: 5px;
}

/*
 * Heading above project tiles
 */
.project__heading {
	color: #7D97AD;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
 * Featured projects section
 */
.project__container {
	height: 40%;
}

.project__tile {
	width: 48%;
	color: #2D3C49;
	background-color: #ffe1fe;
	max-height: 325px;
}

.project__imagelink {
	height: 250px;
	width: auto;
}

.img-responsive {
	max-height: 250px;
}

a {
	max-height: 250px;
}